<h1>勤怠管理システム</h1>
<hr />
<form method="POST" action="./">
    ユーザ名：<input type="text" name="UserName"><br />
    パスワード：<input type="password" name="PassWord"><br />
    <input type="submit" value="ログイン"><br />
</form>
