<%= render partial: "application/pageheader", locals: {title: "管理者ページ"} %>

<h3><%= session[:adminName] %>さん、こんにちは。</h3>
<hr />

<a href="/user_manage">アルバイト管理</a><br />
<a href="/salary_manage">時給管理</a><br />

<%= render partial: "application/pagefooter" %>
